<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>Przentr</title>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.7-1/css/bootstrap.css"/>
    <link rel="stylesheet" href="/resource/app.css"/>
    <link rel="icon" href="/favicon.ico?v=2" />
</head>
<body class="index">
<div class="logo">
    <img src="/resource/logo.png"/>
</div>
<div class="container">
    <div class="row vertical-center">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <form method="post">
                <span class="motto">enter markdown url </span>
                <span class="motto">and present</span>
                <div class="input-group">
                    <input type="url" name="presentation" class="form-control"/>
                    <span class="input-group-btn">
                         <button type="submit"
                                 class="btn btn-primary">Go!</button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
</body>
</html>
